extends ../../layouts/layout.pug

block content
  .section--primary#content
    .container
      h1 Petition New Motorway Bill

  section
    .container
      h2 Organisation details
      +form('page06.html')
        +input--text('organisation name', 'txtOrgName', 'Organisation name')(required)
        +input--text('address', 'txtOrgAddress1', 'Organisation Address line 1')(required)
        +input--text('address', 'txtOrgAddress2', 'Organisation Address line 2')
        +input--text('post code', 'txtOrgPostCode', 'Organisation Post code')(required)

        br
        p Please specify a representative for your organisation.
        
        +input--text('contact name', 'txtOrgName', 'Contact name')(required)
        +input--text('email', 'txtOrgEmail', 'Contact Email address')(required)
        +input--text('phone', 'txtOrgPhone', 'Contact Telephone number')

        br
        +button('Next', 'btn--primary')
      br
      p #[+link('page02.html', 'Back')]
