extends ../../layouts/layout.pug

block content
  .section--primary#content
    .container
      h1 Petition New Motorway Bill

  section
    .container
      h2 Terms &amp; Conditions

      h3 I understand:

      ol
        li that a copy of this petition, including my name and address (and any other contact details which I have chosen to include on the last page of my petition) but without my signature, will be placed on the Parliamentary website and a hard copy will be made available to anyone who asks for it.

        br

        li that a copy of this petition together with this sheet will be:
          ul
            li a. kept in the Private Bill Office and subsequently kept as a record of Parliament in the House of Lords Record Office (where it can be accessed by the public under the Freedom of Information Act 2000);
       
            li b. will be made available to the Parliamentary Agent responsible for the bill once my petition has been deposited in the Private Bill Office.

        li that the personal information supplied above and on the petition may be kept in a database by either or both Private Bill Offices. These databases may be used to store summaries of emails and/or conversations for the purpose of keeping track of procedural advice/information given to the parties or received from them. This information will only be shared between the Private Bill Offices unless prior permission has been obtained from the petitioner/agent concerned.

      br
      +form('page08.html')
        .status--highlight
          +radio--checkbox('checkbox', 'terms-main', 'chkTrmCnd', 'I agree to obey and observe the orders and practice of the House of Commons and any rules prescribed by the Speaker in relation to the proceedings on this petition.')(required, data-submit='disabled')
          br
          +button('Accept', 'btn--primary', 'submit')
      br
      p #[+link('page06.html', 'Back')]
