extends ../../layouts/layout.pug

block content
  .section--primary#content
    .container
      h1 Petition New Motorway Bill
      
  section
    .container
      h2 Thank you for your submission.
      .status--highlight
        p Your petition reference number is HB123XYZ

  section
    .container
      h2 What happens next?
      ol.list--pipe
        li
          .list--details
            h3 1. Your petition is validated     
            p Your online submission will be checked and verified by a member of the Parliamentary staff.
        li
          .list--details
            h3 2. Payment for your petition is required  
            p A request for payment will be emailed to you, follow the instructions enclosed to make your payment.
        li
          .list--details
            h3 3. You will be contacted by the Government department
            p The Department for Transport will get in touch with you regarding the status of your petition.

  section
    .container
      h2 Updates
      .status--highlight.theme--grey-4
        +form('../index.html')
          +radio--checkbox('checkbox', 'chk-updates', 'chkUpd', 'Give me updates on the New Motorway Bill')
          br
          +button('Finish', 'btn--primary')
