extends ../layouts/layout-beta.pug

block content
  #content.hero.theme--white
    .container
      h1 Hybrid bill prototypes
      p Static HTML prototyping of Parliamentary hybrid bill web services.

  section
    .container
      h2 Current hybrid bills prototypes
      ul
        li #[+link('/templates/petition-emails-ap-v3/index.html', 'Additional provision 3 email templates')]


  section
    .container
      h2 Archived hybrid bill prototypes
      +dropdownToggle("Additional provision 2 petition prototypes")
        ul
          li #[+link('/templates/petition-submission-ap-v2/index.html', 'Additional provision 2 petition submission (spring/summer 2018)')]
          li #[+link('/templates/petition-emails-ap-v2/index.html', 'Additional provision 2 email templates (spring/summer 2018)')]
      +dropdownToggle("Additional provision 1 petition prototypes")
        ul
          li #[+link('/templates/petition-submission-ap-v1/index.html', 'Additional provision 1 petition submission (Feb 2018)')]
          li #[+link('/templates/petition-emails-ap-v1/index.html', 'Additional provision 1 email templates (Feb 2018)')]
 
      +dropdownToggle("Hybrid bill petition prototypes")
        ul
          li #[+link('/templates/petition-submission-v1/page01.html', 'Hybrid bill petition submission (Version 1 - Aug 2017)')]
          li #[+link('/templates/petition-submission-v2/page01.html', 'Hybrid bill petition submission (Version 2 - Sep 2017)')]
          li #[+link('/templates/petition-submission-v3/page01.html', 'Hybrid bill petition submission (Version 3 - Sep 2017)')]
          li #[+link('/templates/petition-submission-v4/page01.html', 'Hybrid bill petition submission (Version 4 - Oct 2017)')]
          li #[+link('/templates/petition-submission-v5/page01.html', 'Hybrid bill petition submission (Version 5 - Nov 2017)')]
          li #[+link('/templates/petition-submission-v6/index.html', 'Hybrid bill petition submission (Version 6 - Dec 2017)')]
          li #[+link('/templates/petition-emails/index.html', 'Hybrid bill petition email templates (Dec 2017)')]

  section
    .container
      h2 User research guidance
      ul
        li #[+link('/templates/user-research-guidance/note-taking.html', 'Note Taking Guidance')]
