extends ../layouts/layout-beta.pug

block content
  #content.hero.theme--white
    .container
      h1 Hybrid bill prototypes
      p Static HTML prototyping of Parliamentary hybrid bill web services.

  section
    .container
      h2 Current hybrid bills prototypes
      ul
        li #[+link('/templates/petition-submission-ap-v1/index.html', 'Additional provision petition submission (Version 1)')]
        li #[+link('/templates/petition-submission-v6/index.html', 'Hybrid bill petition submission (Version 6)')]
        li #[+link('/templates/petition-emails/index.html', 'Hybrid bill email templates')]

  section
    .container
      h2 User research guidance
      ul
        li #[+link('/templates/user-research-guidance/note-taking.html', 'Note Taking Guidance')]

  section
    .container
      h2 Archived hybrid bills prototypes
      ul
        li #[+link('/templates/petition-submission-v1/page01.html', 'Hybrid bill petition submission (Version 1)')]
        li #[+link('/templates/petition-submission-v2/page01.html', 'Hybrid bill petition submission (Version 2)')]
        li #[+link('/templates/petition-submission-v3/page01.html', 'Hybrid bill petition submission (Version 3)')]
        li #[+link('/templates/petition-submission-v4/page01.html', 'Hybrid bill petition submission (Version 4)')]
        li #[+link('/templates/petition-submission-v5/page01.html', 'Hybrid bill petition submission (Version 5)')]
