extends ../../layouts/layout-beta.pug

block content
  #content.hero.theme--grey-4
    .container
      h1 Upload your completed template
      p.lead Step 4 of 5

  section
    .container
      h2 Uploaded file must

      ul
        li be less than 2 MB in size
        li be file type: doc, docx, rtf, txt, ooxml, odt or PDF
        li not include any images, graphics or videos
      br

  section
    .container
      +form(action='page07.html')
        .file--upload
          .file--upload-icon
          h3#file-uploaded-txt Upload your petition template

          +input--file('file-uploader', 'file-upload', 'Click here to upload your petition', 'file--uploader')(required)

        p.file--uploaded#file-uploaded No file selected

        br
        .box--holder__bordered
          +button('Next', 'btn--primary')(class='btn--primary btn--large')
