// ***** User Research Page Specifics *****

.image--postit, .image--postit img {
  display: block;
  background-color: transparent;
  width: 150px;
  @include media($large) {
    width: 350px;
  }
}

// ***** Prototype Version 4 Overides *****

.box--holder, .box--holder__bordered {
  width: 100%;
}

.box--holder__bordered {
  border-top: 1px solid $grey-3;
  padding-top: $base-spacing-unit-large;
  padding-bottom: $base-spacing-unit-tiny;
}

.box--50 {
  flex: 1;
  &:last-child {
    text-align: right;
  }
  input, label {
    text-align: left;
  }
  input {
    width: 95%;
  }
}

.btn--align-v4 {
  float: right;
}

.input--holder {
  display: flex;
  width: 72%;
}

.theme--grey-4.block h3 {
  text-align: center;
}

#org-new {
  margin-top: 20px;
}

.link--remove {
  cursor: pointer;
  color: $warning;
  text-decoration: underline;
  margin-left: 450px;
  &:hover {
    color: $warning--dark;
  }
}

/* File Uploader */

.file--upload {
  position: relative;
  overflow: hidden;
  margin: $base-spacing-unit-tiny 0;
  background-color: $white;
  width: 70%;
  text-align: center;
  border: dashed 2px $grey-3;
  &:hover {
    border: dashed 2px $link;
  }
}

.file--upload > input.file--uploader {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
  height: 100%;
  text-align: center;
}

.file--upload-icon {
  background: url("../../images/uploader.svg") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
  position: relative;
  display: block;
  width: 90px;
  height: 106px;
  margin: $base-spacing-unit-medium auto 0 auto;
}

.file--upload:hover > .file--upload-icon {
  background: url("../../images/uploader-hover.svg") no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
}

.file--uploaded, .file--uploaded-success  {
  width: 70%;
  padding: $base-spacing-unit-tiny;
  font-size: 18px;
}

.file--uploaded {
  background-color: $grey-4;
  color: $deep-purple;
}

.file--uploaded-success {
  background-color: $success--dark;
  color: $white;
  text-align: center;
}

.file--upload-icon {
  font-weight: bold;
  font-size: 20em;
  line-height: 0.5;
  color: $deep-purple;
}

// ***** Prototype Version 5 Overides *****

.container--hs-v5 {
  padding: 0 $base-spacing-unit-medium $base-spacing-unit-small $base-spacing-unit-medium;
  background: $white;
  border: solid 1px $grey-3;
}

// ***** Prototype Version 6 Overides *****

.pipe--padding {
  padding-top: 27px !important;
  padding-bottom: 27px !important;
}

span.label {
  background-color: $grey-4;
  padding: ($base-spacing-unit - 4) $base-spacing-unit;
}

.hb--border__top {
  border-top-color: $mint;
  border-top-width: $base-spacing-unit;
  border-top-style: solid;
}

.file--upload__wrapper {
  position: relative;
  display: inline-block;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
}

.file--upload__wrapper > input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 96%;
  height: 88%;
}

.file--upload__status--standard {
  background: url('../../images/file--blank.svg') no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
  position: relative;
  display: block;
  width: 86px;
  height: auto;
}

.file--upload__status--success {
  background: url('../../images/file--success.svg') no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
  position: relative;
  display: block;
  width: 100px;
  height: auto;
}

.file--upload__status--error {
  background: url('../../images/file--fail.svg') no-repeat scroll center center / 100% auto rgba(0, 0, 0, 0);
  position: relative;
  display: block;
  width: 100px;
  height: auto;
}

.v6-check {
  padding-top: 24px;
}
