extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 Hybrid bills

      p Hybrid bills mix the characteristics of 
        +link('http://www.parliament.uk/about/how/laws/bills/public/', 'public bills')(target='_blank')
          span.sr-only (This link will open in a new window) 
        |  and  
        +link('http://www.parliament.uk/about/how/laws/bills/private/', 'private bills')(target='_blank')
          span.sr-only (This link will open in a new window)
        | . They often propose works of national importance in a specific area of the UK.

      p Changes to the law proposed by a hybrid bill affect the general public and impact specific individuals, groups or organisations.

      p To find out more, read our 
        +link('http://researchbriefings.parliament.uk/ResearchBriefing/Summary/SN06736', 'Hybrid Bill Background Paper')(target='_blank')
          span.sr-only (This link will open in a new window)
        | .

  section
    .container
      h2 Objecting to a hybrid bill

      p Any individual, group of individuals, organisation or group of organisations affected by a hybrid bill can object to it.

      p This can lead to changes being made to the bill called additional provisions.

      h3 Current hybrid bills
      
      ol.list--block
        li
          .list--details
            h4 #[+link('page01-1.html', 'High Speed Rail (West Midlands to Crewe) Bill')]
            p The deadline has passed.


  section
    .container
      h2 Objecting to an additional provision

      p Objecting to an additional provision is separate to objecting to the original bill.  

      p Any individual, group of individuals, organisation or group of organisations affected by an additional provision can object to it.

      p If MPs agree with your objection they have the power to change the original bill before it becomes law.

      h3 Current additional provisions

      ol.list--block
        li
          .list--details
            h4 #[+link('page01.html', 'Second Additional Provision (AP2) to the High Speed Rail (West Midlands to Crewe) Bill')]
            p You can object from Monday 15 February 2019.

      h3 Past additional provisions

      ol.list--block
        li
          .list--details
            h4 #[+link('page01-2.html', 'First Additional Provision (AP1) to the High Speed Rail (West Midlands to Crewe) Bill')]
            p The deadline has passed.
