extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 Object to the Second Additional Provision (AP2) to the High Speed Rail (West Midlands to Crewe) Bill

      noscript
        .status--highlight.theme--caution
          p JavaScript is currently switched off in your browser. Switch it on for a better experience.

      .status--highlight
        p You can object from Friday 15 February 2019.

  section
    .container
      h2 Overview

      p Any individual, group of individuals, organisation or group of organisations affected by the Second Additional Provision (AP2) to the High Speed Rail (West Midlands to Crewe) Bill can object to it.

      p To find out more about the Bill, visit the 
        +link('https://www.gov.uk/government/organisations/high-speed-two-limited', 'High Speed Two (HS2) Limited website')(target='_blank')
          span.sr-only (This link will open in a new window)
        | .

  section
    .container
      h2 Objecting to the Second Additional Provision (AP2)

      p To object to the Second Additional Provision (AP2) to the High Speed Rail (West Midlands to Crewe) Bill you will need to download and complete our petition template. You can do this by petitioning on our website or by email, post or in person.

      p We will ask for your name, address and examples of how you're affected by the Second Additional Provision (AP2).

      p The petition does not require any signatures.

  section
    .container
      h2 Contact details

      p We will ask you to tell us who should be contacted about your petition. This main contact can be you or someone else, for example a friend, family member or lawyer.

      p The main contact will receive all petition communications. They will usually be invited to give evidence about it to the 
        +link('http://www.parliament.uk/business/committees/committees-a-z/commons-select/high-speed-rail-west-midlands-crewe-bill-select-committee-commons', 'High Speed Rail (West Midlands to Crewe) Bill Committee')(target='_blank')
          span.sr-only (This link will open in a new window)
        | .

  section
    .container
      h2 After sending your petition

      ul.track--alternative
        li
          h3.typography--light Once we've received your petition we'll ask you to pay a &pound;20 admin fee, unless you paid it when objecting to the original bill.
        li
          h3.typography--light We'll publish your petition on our website. This will include your name and address.
        li
          h3.typography--light We’ll send your petition to HS2 Ltd, who may contact you to discuss it.
        li
          h3.typography--light We'll also send your petition to the Department for Transport (DfT). They can challenge it if they don't believe you are affected by the Second Additional Provision (AP2).
        li
          h3.typography--light You will usually be invited to give evidence to the committee about your petition. Hearings are scheduled for spring/summer 2018.

      .section--major
        noscript
          .status--highlight.theme--warning
            p JavaScript is switched off in your browser. This might mean #[+link('https://beta.parliament.uk/meta/cookie-policy', 'Cookies')] are blocked.
            p Allow all cookies to petition online.
            p If you don’t want to allow all cookies, you can petition by email, post or in person.

        +buttonLink('page03.html', 'Petition on our website', 'btn--primary')
        +buttonLink('page02.html', 'Petition by email, post or in person', 'btn--primary--inverse')
