extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 Object to the High Speed Rail (West Midlands to Crewe) Bill

      noscript
        .status--highlight.theme--caution
          p JavaScript is currently switched off in your browser. Switch it on for a better experience.

      .status--highlight
        p The deadline has passed.

  section
    .container
      h2 Overview

      p Any individual, group of individuals, organisation or group of organisations affected by the High Speed Rail (West Midlands to Crewe) Bill can object to it.

      p To find out more about the Bill, visit the 
        +link('https://www.gov.uk/government/organisations/high-speed-two-limited', 'High Speed Two (HS2) Limited website')(target='_blank')
          span.sr-only (This link will open in a new window)
        | .
        
      p For the latest updates, visit the
        +link('http://www.parliament.uk/business/committees/committees-a-z/commons-select/high-speed-rail-west-midlands-crewe-bill-select-committee-commons', 'High Speed Rail (West Midlands to Crewe) Bill Committee website')(target='_blank')
          span.sr-only (This link will open in a new window)
        | .

      br
      .block.accent--mint
        h3 Help and support
        p For more information email #[+link('mailto:prbohoc@parliament.uk', 'prbohoc@parliament.uk')] or phone #[+link('tel:02072193250', '020 7219 3250')]
