extends ../../layouts/layout.pug

block content
  #content.hero.theme--grey-4
    .container
      h1 Terms and conditions
      p.lead Step 5 of 5 - Petition the #[+link('#', 'M404 Motorway Bill')]

  section
    .container
      .block--border__bottom
        br
        p 
          strong I understand that:
        ol.list--number
          li a copy of this petition, with my name and address will be published on UK Parliament’s website.  
          
          li a copy of this petition and information provided in the online form will be:
          
          ul
            li kept in the Private Bill Office and as a record in the Parliamentary Archives.
            
            li will be available to the Parliamentary Agent responsible for the bill once the petition has been accepted by the Private Bill Office who may email you about the petition.  
          
          li the personal information I’ve supplied may be kept in a database by both Private Bill Offices. Communications may also be stored in databases to keep track of information I have given or received. This information may be shared between the Private Bill Offices.  
          
          li Private Bill Office staff may be in touch with any of the named petitioners to verify the information provided.

        br

        p I agree to observe the orders and practice of the House of Commons and any Speakers rules that relate to proceedings on this petition.

        p The information I have provided in the petition and online form is accurate.

        p If I have filled in the form on behalf of a petitioner or petitioners as a representative or as a co-petitioner, I have been authorised to do so.  
      
  section
    .container
      <nav class="navigation--number" aria-label="Pagination">
        <a class="navigation-control navigation-control--left btn--mint btn--large" href="page08.html">I agree - send petition</a>
      </nav>
