extends ../../layouts/layout.pug

block content
  #content.hero.theme--grey-4
    .container
      h1 Who are you submitting a petition for?
      p.lead Step 2 of 5 - Petition the #[+link('#', 'M404 Motorway Bill')]

  section
    .container
      br
      +form(id='submitterType' action='page05-1.html')
        .block--border__bottom
          +fieldset('Who are you submitting a petition for?', 'sr-only')
            ol.list--block
              li
                +radio--checkbox__verbose('radio', 'submitter-type', 'ind', 'You are submitting a petition for one person.', 'Individual')(data-route='page05-1.html', checked)
              li
                +radio--checkbox__verbose('radio', 'submitter-type', 'grp', 'You are submitting a petition for a group of people.', 'Group of individuals')(data-route='page05-2.html')
              li
                +radio--checkbox__verbose('radio', 'submitter-type', 'org', 'You are submitting a petition for a business or organisation.', 'Organisation')(data-route='page05-3.html')
              li
                +radio--checkbox__verbose('radio', 'submitter-type', 'orgs', 'You are submitting a petition for a group of businesses or organisations.', 'Group of organisations')(data-route='page05-4.html')
          br
        .box--holder
          +link('page03.html', 'Back')
          span.btn--align-v4
            +button('Next', 'btn--primary')
