extends ../../layouts/layout.pug

block content
  #content.hero.theme--grey-4
    .container
      h1 Thank you for your petition
      p.lead Confirmation

  section
    .container
      .block--border__bottom
        br
        .status--highlight
          p.lead Your petition reference number is <b>HB123XYZ</b>

          p An email with this reference number will be sent to <i>test@gmail.com</i> in the next 15 minutes. 

        h2 What happens next?
        .timeline
          h3 Your petition is checked
          ul.list--block
            li
              .list--details
                p We will review your petition before sending it to the Department for Transport (DfT).

          h3 Request for payment emailed
          ul.list--block
            li
              .list--details
                p In the next 14 days we will email you with details on how to pay your &pound;20 petition fee.

          h3 The DfT will email you about your petition
          ul.list--block
            li
              .list--details
                p This will happen before the committee starts discussing New Motorway Bill petitions in Spring 2018.

    section
      .container
        .block--border__bottom
          h2 Withdrawing your petition

          p You can withdraw your petition by writing to us at House of Commons, Westminster, London, SW1A 0AA.

          p Anyone named on a petition can withdraw from the petition, leaving the remaining petitioners to continue with it.

    section
      .container
        .block--border__bottom
          h2 Change contact information

          p If you want to change the main contact for your petition call us on 020 7219 300.
