extends ../../layouts/layout-beta.pug

block content
  #content.section--primary
    .container
      h1 Hybrid bills

      p Hybrid bills mix the characteristics of 
        +link('http://www.parliament.uk/about/how/laws/bills/public/', 'public bills')(target='_blank')
          span.sr-only (This link will open in a new window) 
        |  and  
        +link('http://www.parliament.uk/about/how/laws/bills/private/', 'private bills')(target='_blank')
          span.sr-only (This link will open in a new window)
        | . They often propose works of national importance in a specific area of the UK.
      
      p For example, the Channel Tunnel Bills passed in the 1970s and 1980s and the Crossrail Bill passed in 2008.

      p Changes to the law proposed by a hybrid bill affect the general public and impact specific individuals, groups or organisations.

      p To find out more, read our 
        +link('http://researchbriefings.parliament.uk/ResearchBriefing/Summary/SN06736', 'Hybrid Bill Background Paper')(target='_blank')
          span.sr-only (This link will open in a new window)
        | .

  section
    .container
      h2 Objecting to a hybrid bill

      p Any individual, group of individuals, organisation or group of organisations affected by a hybrid bill can object to it.  

      p This can lead to changes being made to the bill, called additional provisions.
      
      p Objecting to additional provisions is separate to objecting to the original bill.

  section
   .container
      h2 Current hybrid bills
      
      .section--minor
        ol.list--block
          li
            .list--details
              h3 #[+link('page01.html', 'Additional Provision 1 of the High Speed Rail (West Midlands to Crewe) Bill')]
              p You can object from Thursday 29 March 2018.
          li
            .list--details
              h3 #[+link('page01-1.html', 'High Speed Rail (West Midlands to Crewe) Bill')]
              p The deadline has passed.
