extends ../../layouts/layout.pug

block content
  #content.hero.theme--grey-4
    .container
      h1 Petition the Motorway Bill

  section
    .container
      h2 Petitioning Guidance

  section
    .container
      h3 Who can petition the bill?
      p Any individual, group of individuals, organisation or business affected by the New Motorway Bill can petition against it.
      p If the Department for Transport believes that a petitioner is not affected they may object to the petition.

      h3 What happens with my petition?
      p A committee of MPs will consider your petition.
      p You will usually be invited to discuss your petition with the committee.  If you don’t want to meet the committee in person you can send a written statement.
      p The committee will then decide whether or not to accept your petition.
      p The committee can amend the bill but it can’t reject it.

      h3 Having your petition challenged

      p If the Department for Transport (DfT) doesn’t think you’re affected by the Bill they can ask the committee not to consider your petition.
      p You will be contacted if the Promoters intend to challenge your right to have your petition considered.
      p The committee decides whether or not you will be able to argue your case on all or some of the matters in your petition. It will consider both the DfT’s arguments and your reasons for claiming a hearing before deciding.

      h3 Writing your petition

      p Your objections to the bill should only be about issues that affect you. The committee will not consider objections to the existence of the bill, for example whether the motorway should be built.
      p Your petition should include all the objections you have against the bill. Only objections outlined in your petition can be discussed with the committee.
      p Your petition does not need to be signed. It should not include any images, graphics or videos.
        
      h3 Publishing your petition

      p Your petition will be published on the UK Parliament website.  It will also be stored in the Parliamentary Archives.

      h3 Withdrawing your petition

      p You can withdraw your petition at any time by writing to us.
      p Any people named on a petition can withdraw from the petition in the same way, leaving the remaining petitioners to continue with their case.

      h3#rep-info Representation

      p You can either represent yourself or ask someone to act as your representative, to act on your behalf in all matters relating to the petition, including arguing your case before the committee. 
      p You can pay someone to do this, for example a solicitor or land agent, or you may simply ask someone you know to act for you.
      p If you have a representative they can submit the petition for you, or you can do so yourself.
      p You may change your representative at any time. Just let us know when this happens by calling 020 1219 3000, so we know who to contact about your petition.
      
      h3 Legal representation
      p You can have a barrister put your case before the committee. 
      p You need to tell us if you want to instruct a barrister to put your case together close to the time that your petition is due for consideration by the committee.

      h3 Contact us
      p For further guidance on the <b>petitioning process</b>, please contact the Private Bill Office at the House of Commons:
          p Address: Private Bill Office, House of Commons, London SW1A 0AA
          p Tel 020 7219 3250
          p Email #[+link('#', 'prbohoc@parliament.uk')] 

      //p For information about the <b>New Motorway</b>, the proposed works and other information about the project itself, please contact HS2 Ltd:

        p Address: HS2 Ltd, 1 Canada Square, London, EC14 5AB
        p Tel: 020 7944 4908
        p Email #[+link('#', 'HS2enquiries@hs2.org.uk')]  
          
        p < #[+link('page02.html', 'Back')]
