extends ../../layouts/layout.pug

block content
  .section--primary#content
    .container
      h1 Petition New Motorway Bill

  section
    .container
      h2 Group of individuals details
      +form('page07.html')
        +input--text('name', 'txtGroupName', 'Group name')

        h3 Group contact's details
        p Please specify a representative for your group.

        +input--text('name', 'txtName', 'Full name')(required)
        +input--text('address', 'txtAddress1', 'Address line 1')(required)
        +input--text('address', 'txtAddress2', 'Address line 2')
        +input--text('post code', 'txtPostCode', 'Post code')(required)
        +input--text('email', 'txtEmail', 'Email')(required)
        +input--text('phone', 'txtPhone', 'Phone')

        br
        +button('Next', 'btn--primary')
      br
      p #[+link('page03.html', 'Back')]
