extends ../../layouts/layout.pug

block content
  #content.hero.theme--grey-4
    .container
      h1 Petitioning Motorway Bill

  section
    .container
      h2 What is the New Motorway Bill
      p The bill includes suggested changes to the law needed to build a new motorway in Gloucestershire. It also explains where the work will take place and the land the will be needed for construction work.

      p To find out if you're affected visit the #[+link('#', 'New Motorway Bill')] website.

  section
    .container
      h3 What if I'm affected by the bill?
      p If you are affected by the bill you can object to it by sending us a petition.  You can only petition against the bill if you are affected by it.

  section
    .container
      h3 Help and Support
      p For more information e-mail #[+link('#', 'petition@parliament.uk')] or phone 020 7219 3000
