extends ../../layouts/layout.pug

block content
  .section--primary#content
    .container
      h1 Petition New Motorway Bill

  section
    .container
      h2 Who are you submitting a petition for?
      +form(id='submitterType' action='page06-1.html')
        +fieldset('Who are you submitting a petition for?', 'sr-only')
          ol.list--block
            li
              +radio--checkbox__verbose('radio', 'agent-submitter-type', 'rep-ind', 'You are submitting a petition for one person.', 'Individual')(data-route='page06-1.html', checked)
            li
              +radio--checkbox__verbose('radio', 'agent-submitter-type', 'rep-grp', 'You are submitting a petition for a group of people.', 'Group of individuals')(data-route='page06-2.html')
            li
              +radio--checkbox__verbose('radio', 'agent-submitter-type', 'rep-org', 'You are submitting a petition for a business or organisation.', 'Business / Organisation')(data-route='page06-3.html')

        +button('Next', 'btn--primary')
      br
      p #[+link('page03.html', 'Back')]
